extends layout

append head 
    script(src="/javascripts/execercise.js" async defer) 

block content
  div.main-app
    div.app_navbar Nav
    div.sidebar Sidebar
    div.quotes Quotes
    div.workouts Workouts
      form(action="/exercises", method="get") 
          input(type="hidden" name="_csrf" value=csrfToken)
          label(for="muscle-group") Choose a muscle group:
          select(onchange="this.form.submit()"id="muscle-group" name="muscle-group" value=muscleGroup)
            option(value="Arms") Arms 
            option(value="Chest") Chest 
            option(value="Legs") Legs 
            option(value="Back") Back 
            option(value="Core") Core 
            option(value="Cardio") Cardio 
      form(action="/workouts" method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          label(for="exercise") Choose a exercise:
    div.description Description