extends layout

include utils.pug

append head 
    script(src="javascripts/gym.js" async defer) 

block content
  div.main-app
    div.app_navbar.shadow
      a(href="/gym") 
        img.logo-nav(src="/images/sweat-logo.png")
    div.sidebar
      div#days 
        p.form-title-gym Routines
        a.day-link(href="/routes/monday")  Monday
        a.day-link(href="/routes/tuesday")  Tuesday
        a.day-link(href="/routes/wednesday")  Wednesday 
        a.day-link(href="/routes/thursday")  Thursday 
        a.day-link(href="/routes/friday")  Friday
        a.day-link(href="/routes/saturday")  Saturday 
        a.day-link(href="/routes/sunday")  Sunday
    //- M-S 
    //- Click on a day
    //- Get routines/day
    //- Display async info
    div.quotes
      div.gym-form-border.shadow
        p#quote
        button#new-quote.form-button New Quote
    div.workouts
      div.gym-form-border.shadow
        p.form-title-gym Add a workout
        select( id="muscle-selection" name="muscle-group" value=muscleGroup)
          option#muscle-select() Select a muscle group to get started
          option(value="Arms") Arms 
          option(value="Chest") Chest 
          option(value="Legs") Legs 
          option(value="Back") Back 
          option(value="Core") Core 
          option(value="Cardio") Cardio
        form(action="/workouts" method="post" id="workout-form" class="hidden")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="exerciseId" id="hidey-hole" class="hidden")
          label(for="chosen-exercise") Choose a exercise:
          select( name="chosen-exercise" id="chosen-exercise" value=exercise)
          +makeInputs("weight", "Weight", weight, "power-lift")     
          +makeInputs("repetitions", "Repetitions", repetitions, 'machine power-lift calisthenics')     
          +makeInputs("sets", "Sets", sets, 'power-lift calisthenics machine')     
          +makeInputs("resistance", "Resistance", resistance, 'machine calisthenics cardio')     
          +makeInputs("distance", "Distance", distance, 'cardio')
          button.form-button(type="submit") Add Workout     
    div.workoutList Test
    div.description Description