extends layout

include utils.pug

append head 
    script(src="javascripts/gym.js" async defer) 

block content
  div.main-app
    div.app_navbar.shadow
      a(href="/gym") 
        img.logo-nav(src="/images/sweat-logo.png")
    div.sidebar
      ul  
        li Test
        li Test
        li Test
    //- M-S 
    //- Click on a day
    //- Get routines/day
    //- Display async info
    div.quotes
      div.gym-form-border.shadow
        p#quote
        button#new-quote.form-button New Quote
    div.workouts
      div.gym-form-border.shadow
        label(for="muscle-group") Choose a muscle group:
        select( id="muscle-selection" name="muscle-group" value=muscleGroup)
          option#muscle-select() ---Please select one---
          option(value="Arms") Arms 
          option(value="Chest") Chest 
          option(value="Legs") Legs 
          option(value="Back") Back 
          option(value="Core") Core 
          option(value="Cardio") Cardio
        form(action="/workouts" method="post" id="workout-form" class="hidden")
          input(type="hidden" name="_csrf" value=csrfToken)
          label(for="chosen-exercise") Choose a exercise:
          select(onchange="unhide()" name="chosen-exercise" id="chosen-exercise" value=exercise)
          +makeInputs("weight", "Weight", weight, "power-lift")     
          +makeInputs("repetitions", "Repetitions", repetitions, 'machine power-lift calisthenics')     
          +makeInputs("sets", "Sets", sets, 'power-lift calisthenics machine')     
          +makeInputs("resistance", "Resistance", resistance, 'machine calisthenics cardio')     
          +makeInputs("distance", "Distance", distance, 'cardio')
          button.form-button(type="submit") Add Workout   
    div.description "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."