doctype html
html
    head
        title="Don't forget to sweat"
    body
        h1 dont forget to sweat
        img(src="/images/sweat-logo.png")
        form(action="/users/logout", method="post") 
            button(type="submit") logout