extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  nav.navbar__container 
    a(href="/") 
      img(src="/images/sweat-logo.png" width="225" height="150" alt="logo")
    div.navbar__buttons
      a.navbar__button.navbar__button-login(href="") Login 
      a.navbar__button.navbar__button-signup(href="") Sign Up
      a.navbar__button.navbar__button-demo(href="") Login as a Demo User
  div.whitebox
  div.splash__container  
    h1.splash__header The workout routine app for busy people.
    div.splash__whitebox
    a.splash__signup-button(href="users/signup") Sign Up 
    img(src="/images/splash-main-picture.png" width="500" heigh="500")
    p.splash__second-header Get your routine, online.
    p.splash__third-header You'll never forget to sweat again. 
  footer.footer__grid-container
    div.row__footer-items
      div.column__footer-picture
        img(src="/images/footer-picture.png")
      div.column__footer-company
        p.footer-header Company
        a(href="/about-us") About Us 
      div.column__footer-product
        p.footer-header Product
        a(href="https://github.com/EdSanchezHer/dont-forget-to-sweat/wiki") Don't Forget to Sweat Wiki
      div.column__footer-community
        p.footer-header Community  
        a(href="https://www.appacademy.io/") App Academy 
      div.column__footer-support
        p.footer-header Support 
        a(href="https://github.com/EdSanchezHer/dont-forget-to-sweat/issues") Report Issue
    div.row__footer-legal
      p © 2020 Don't Forget to Sweat
      ul
        li 
          a(href="/github") Terms
        li 
          a(href="/github") Privacy
        li 
          a(href="/github") Security