extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  nav 
    a(href="/") 
      img(src="/images/logo.png" width="200", alt="logo")
    div
      a(href="") Login 
      a(href="") Demo 
      a(href="") Sign Up
  .main  
    h1#header The workout routine app for busy people.
    a(href="users/signup") Sign Up 
    img(src="/images/splash-main-picture.png")
    p Get your routine, online.
    p You'll never forget to sweat again. 
  footer

  
  