extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  nav.navbar__container 
    a(href="/") 
      img(src="/images/sweat-logo.png" width="225" height="150" alt="logo")
    div.navbar__buttons
      a.navbar__button.navbar__button-login(href="users/login") Login 
      a.navbar__button.navbar__button-signup(href="users/signup") Sign Up
      a.navbar__button.navbar__button-demo(href="users/demo") Login as a Demo User
  div.whitebox
  div.splash__container  
    h1.splash__header The workout routine app for busy people.
    div.splash__whitebox
    a.splash__signup-button(href="/users/signup") Sign Up 
    img(src="/images/splash-main-picture.png" width="500" heigh="500")
    p.splash__second-header Get your routine, online.
    p.splash__third-header You'll never forget to sweat again. 
  footer.footer__grid-container
    div.row__footer-items
      div.column__footer-item.column__footer-picture
        img(src="/images/footer-picture.png" width="100" height="100")
      div.column__footer-item.column__footer-aboutus
        p.footer-header About Us
        a.footer__links(href="https://github.com/EdSanchezHer") Eduardo Sanchez
        a.footer__links(href="https://github.com/commanderh") Huy Lam
        a.footer__links(href="https://github.com/Khiienu") Anthony Huynh
        a.footer__links(href="https://github.com/jasole1983") Jason Lettiota
      div.column__footer-item.column__footer-product
        p.footer-header Product
        a.footer__links(href="https://github.com/EdSanchezHer/dont-forget-to-sweat/wiki") Our Wiki
      div.column__footer-item.column__footer-community
        p.footer-header Community  
        a.footer__links(href="https://www.appacademy.io/") App Academy 
      div.column__footer-item.column__footer-support
        p.footer-header Support 
        a.footer__links(href="https://github.com/EdSanchezHer/dont-forget-to-sweat/issues") Report Issue
    div.footer__whitebox-2
    div.row__footer-legal
      p © 2020 Don't Forget to Sweat
      div.footer__whitebox
      div.footer__legal-terms
        div.footer__legal-items
          a.footer__links(href="/github") Terms
        div.footer__legal-items 
          a.footer__links(href="/github") Privacy
        div.footer__legal-items 
          a.footer__links(href="/github") Security