extends layout
include utils.pug

block content 
  div.main-container
    div.left-side-container
      div.logo-container
        a(href="/")
          img.logo(src="/images/logo.png")
      div.quote-container
        div.signin-quote
            p “I don't stop when I'm tired, I stop when I'm done.” 
            p -David Goggins
            img.signin-image(src="/images/david.jpg")
    div.right-side-container
      p.form-title Welcome back
      div.form-border
        form(action="/user/register", method="post") 
          input(type="hidden" name="_csrf" value=csrfToken)
          +field("emailAddress", emailAddress, "email", "Email")
          +field("password", null, "password", "Password")
          button.form-button(type='submit') Log In
          hr
        a(href="/users/signup") 
          button.form-button-secondary(type) Sign Up

