extends layout
include utils.pug

block content 
  div.main-container
    div.left-side-container
    div.right-side-container
      a(href="/signup") Sign up for free
      p Been here before? Welcome back!
      form(action="/user/register", method="post") 
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("emailAddress", "emailAddress", "email", "Email")
        +field("password", "password", "password", "Password")
