extends layout

include utils.pug

block content 
  div.main-container
    div.left-side-container
      div.logo-container
        a(href="/")
          img.logo(src="/images/logo.png" width="200")
      div.signup-picture
        img(src="/images/signup-left.png")
    div.right-side-container
      div.sign-up-container
        a(href="/login") Login
        p Sign up for free
        form(action="/users/signup", method="post") 
          input(type="hidden" name="_csrf" value=csrfToken)
          +field("fullName", user.fullName, "Full-Name", "Full Name")
          +field("emailAddress", user.email,"Email-Address", "Email")
          +field("password", user.password, "Password", "Password")
          button(type='submit') Sign Up!