extends layout

include utils.pug

block content 
  div.main-container
    div.left-side-container
      div.logo-container
        a(href="/")
          img.logo(src="/images/logo2.png")
      div.signup-picture
        img(src="/images/signup-left.png")
        p.signup-message Join millions of people getting more organized and fit.
    div.right-side-container
      div.sign-up-container
        p.form-title Sign up for free
        div.form-border
          form(action="/user/register", method="post") 
            input(type="hidden" name="_csrf" value=csrfToken)
            +field("fullName", user.fullName, null, "Full Name")
            +field("emailAddress", user.email, null, "Email")
            +field("password", user.password, null, "Password")
            button.form-button(type='submit') Sign Up
            hr
          a(href="/users/login") 
            button.form-button-secondary(type) Log In