@import "form.css";
@import "navbar.css";
@import "reset.css";
@import "app.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

.hidden {
	display: none;
}

:root {
	--main-color: #de5454;
	--main-light-color: #fa9b9b;
}

body {
	font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	color: #555555;
}

.splash__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--main-light-color);
}

.splash__header {
	font-size: 44px;
	font-weight: bold;
	color: #fff;
}

.splash__signup-button {
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	color: #fff;
	background-color: #ff7d26;
	padding: 11px 32px 12px;
	border: solid 1px transparent;
	border-radius: 10px;
}

.splash__signup-button:hover {
	background-color: #e05900;
}

.whitebox {
	height: 200px;
	background-color: var(--main-light-color);
}

.splash__whitebox {
	height: 50px;
	background-color: var(--main-light-color);
}

.splash__second-header {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 0;
}

.splash__third-header {
	font-size: 20px;
	color: #fff;
	font-weight: lighter;
}

.footer__grid-container {
	display: flex;
	flex-direction: column;
	/* background-color: var(--main-light-color); */
}

.row__footer-items {
	display: flex;
	justify-content: center;
	padding-right: 100px;
}

.row__footer-legal {
	display: flex;
	justify-content: center;
	padding-right: 100px;
}

.column__footer-item {
	padding-right: 50px;
}

.column__footer-aboutus {
	display: flex;
	flex-direction: column;
}

.footer__links {
	text-decoration: none;
	color: #8b8b94;
	font-weight: lighter;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	/* padding:1px; */
}

.footer__links:hover {
	background-color: #cccccc;
}

.footer-header {
	color: #8b8b94;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	padding-left: 15px;
}

.footer__legal-terms {
	display: flex;
	align-items: center;
}

.footer__whitebox {
	width: 200px;
}

.footer__whitebox-2 {
	height: 50px;
}
.footer__legal-items {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 15px;
}

